/* styling for the front facing page */

/* fonts
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
*/

/* Global selector for debugging */
/* * {
  border-style: solid;
  border-color: red;
  border-width: 1px;
} */

body {
  background: lightgray;
}

/* Styling for the sales report page */

table {
  border-collapse: collapse;
}

#grandTotal {
  font-size: 20px;
}

tfoot > tr {
  font-weight: bold;
}

tfoot > tr > td {
  text-align: right;
}


.total {
  color: rgb(0, 59, 0);
  text-align: right;
  font-weight: bold;
}

.cookiesSold {
  border: solid thin grey;
  text-align: right;
  padding: 5px;
}

.employees {
  border: solid thin darkred;
  text-align: right;
  padding: 5px;
}