/* styling for the front facing page */

/* fonts
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
*/

/* Global selector for debugging */
/* * {
  border-style: solid;
  border-color: red;
  border-width: 1px;
} */

/* Styling for the sales report page */
section.salesList {
  margin: 5px;
  padding: 10px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  min-width: 160px;
}

section.salesList > ul {
  padding-left: 15px;
}

section.salesList > ul > lh {
  color: rgb(100, 62, 0);
  font-size: 150%;
}

section.salesList .salesTotal {
  margin: 0;
  font-weight: bold;
}